<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="./assets/js/vue.js"></script>
    <title>Vue Learning</title>
</head>
<body>

    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>

        <input type="text" id="input" v-model="newName">
        <button @click="addName">Add</button>
    </div>



<script>

    var app = new Vue({
        el: '#root',
        data: {
            newName: '',
            names: ['dawood' , 'shehzad', 'molana', 'shahbaz']
        },

        methods:{
            addName(){
                this.names.push(this.newName)
                this.newName = ''
            }
        },

        mounted(){
        }
    })



</script>
</body>
</html>